@import "tailwindcss";
@import "@nuxt/ui";
@source inline("{3xs:,2xs:,xs:,sm:,md:,lg:,xl:,2xl:,3xl:,4xl:,5xl:,6xl:,7xl:}basis-{1/1,1/2,1/3,1/4,1/5,1/6,1/7,1/8,1/9,1/10,1/11,1/12}");

@theme {
    --color-primary: #172E3F;
    --color-secondary: #980027;
    --color-tertiary: #777382;
    --color-quaternary:  #eeeeee;
    --color-dark-1: #0C1521;
    --color-dark-2: #050F1E;
    --color-dark-3: #1E264A;
    --color-gray-1: #F0F0F0;

}
